#container {
    width: 400px;
    margin: 20px;
}

.item {
    background-color: #f5f5f5;
    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.item:hover {
    background-color: #ddd;
}

.desc {
    display: none;
    margin-top: 5px;
}
